main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0rem 0.2rem;
}
main .tenzies-container {
  background: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
main .tenzies-container .tenzies {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
main .tenzies-container .tenzies .title {
  font-family: "Karla";
  line-height: 1.9rem;
  letter-spacing: -0.03em;
  color: #2b283a;
}
main .tenzies-container .tenzies .instructions {
  font-family: "Inter";
  font-size: 1rem;
  letter-spacing: -0.03em;
  color: #4a4e74;
  text-align: center;
  width: 90%;
}
main .tenzies-container .tenzies .dice-container {
  display: grid;
  grid-template-columns: 3rem 3rem;
  grid-template-rows: 3rem 3rem;
  gap: 2rem 2.5rem;
  justify-content: center;
  align-items: center;
}
main .tenzies-container .tenzies .dice-container .die {
  width: 3rem;
  height: 3rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla";
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}
main .tenzies-container .tenzies .roll {
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 0.7rem;
  font-family: "Karla";
  font-weight: 700;
  font-size: 1rem;
  padding: 0.7rem 2.5rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
main .tenzies-container .tenzies .roll:focus {
  outline: none;
}
main .tenzies-container .tenzies .roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
main .tenzies-container .tenzies .win-message {
  font-size: 1.8rem;
  animation: win 1s ease-in-out 1, win-dance 2s linear 2.1s infinite;
}
@keyframes win {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 1.5rem;
  }
}
@keyframes win-dance {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(-30deg);
  }
  50% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(30deg);
  }
}

@media screen and (min-width: 576px) {
  main .tenzies-container {
    width: 80%;
    padding: 1.5rem;
  }
  main .tenzies-container .tenzies .roll {
    padding: 0.9rem 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  main .tenzies-container .tenzies .dice-container {
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: 3rem 3rem;
  }
}

@media screen and (min-width: 992px) {
  main .tenzies-container {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  main .tenzies-container {
    max-width: 40rem;
  }
}
